.banner-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: url('./../img/bg-masthead.jpg');
    background-size: cover;
 }


 .header-top {
    background-color: #333; 
    width: 100%;
    max-width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;;
    margin-top: -85px;
    color: #C7C7C7;
    font-family: 'Varela Round';
 }

 
.banner-top-content > div {
    min-height: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner-top-content > div > p {
    max-width: 35%;
    text-align: center;
    padding: 20px;
    font-family: 'Varela Round';
    color: #B7B3A9;
}

 .header-top a {
     padding: 12px;
     text-decoration: none;
 }


 .banner-top-content > div > h1 {
     text-transform: uppercase;
     font-size:6.5rem;
     font-family:'Varela Round';
     letter-spacing: 0.5rem;
     background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(153, 153, 153));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight:100;
 }

.banner-top-content > div > button { 
    background-color: #64A1A1;
    border-radius: 5px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    width: 9%;
    height: 10%;
    letter-spacing: 2px;
    font-family: 'Varela Round';
}
